<% title "Question" %>
<h1 class="text-center">Edit Question</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for @question do |f| %>
            <%= f.label :question %>
            <%= f.text_area :question, class: 'form-control'%>
            <br />
            <%= f.label :a %>
            <%= f.text_field :a, class: 'form-control'%>
            <br />
            <%= f.label :b %>
            <%= f.text_field :b, class: 'form-control'%>
            <br />
            <%= f.label :c %>
            <%= f.text_field :c, class: 'form-control'%>
            <br />
            <%= f.label :d %>
            <%= f.text_field :d, class: 'form-control'%>
            <br />
            <%= f.label :answer %>
            <%= f.text_field :answer, :maxlength => 1, class: 'form-control'%>
            <br />
            <%= f.label :Zone %>
            <br />
            <%= f.collection_select(:zones_id, Zone.where(topics_id: @topicId), :id, :name) %>
            <br />
            <br />
            <%= f.hidden_field :id, :value => @question.id %>
            <%= f.submit "Edit", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>