<% @towers.each do |tower| %>
<table class = "table table-hover">
    <a id="<%= tower.name.split.join('_').downcase %>"></a>
    <span style="color:grey"><%= tower.name.upcase %></span>    
    <a href="<%= topics_new_path(:tower_id => tower.id) %>" >
        <button type = "button" class = "btn btn-info">add</button>
    </a>        
    <thead>
        <tr>
            <th>Topic</th>
            <th>Created at</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @topics.each do |topic| %>
        <% if topic.tower_id == tower.id %>
        <tr>
            <td><%= topic.name %></td>
            <td><%= topic.created_at %></td>
            <td>
                <a href="<%= topic_path(topic.id) %>" >
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        view
                    </button>
                </a>
            </td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
</table>
<% end %>


