<table class = "table table-hover">
    <ol class="breadcrumb">
        <li><a href="<%= towers_path %>"><%= @tower.name.upcase %></a></li>
        <li class="active"><%= @topic.name.capitalize %></li>
    </ol>
   <h3>Zone List</h3>
    <thead>
        <tr>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Created at</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @zones.each do |zone| %>
        <tr>
            <td><%= zone.name %></td>
            <td><%= zone.difficulty %></td>
            <td><%= zone.created_at %></td>
            <td>
                <a href="<%= zone_path(zone.id) %>" >
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        view
                    </button>
                </a>
            </td>
        </tr>
        <% end %>
    </tbody>
   
</table>


<%= form_for :zone do |f| %>
<div class="row">
    <div class="col-md-3">
        <label>Zone Name</label>
        <%= f.text_field :name, class: 'form-control', value: "Zone of " %>
    </div>
    <div class="col-md-3">
        <label>Difficulty</label>
        <%= f.number_field :difficulty, class: 'form-control'%>
    </div>
    <%= f.hidden_field :topic_id, :value => @topic.id %>
</div>
<br />
<%= f.submit "Add", class: "btn btn-info" %>
<% end %>
