<table class = "table table-hover">
    <caption>Towers List</caption>
   
    <thead>
        <tr>
            <th>Name</th>
            <th>Created at</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @towers.each do |tower| %>
        <tr>
            <td><%= tower.name.upcase %></td>
            <td><%= tower.created_at %></td>
            <td>
                <a href="<%= topics_path() %>#<%= tower.name.split.join('_').downcase %>" >
                    <button type="button" class="btn btn-success" aria-label="Left Align">
                        view
                    </button>
                </a>
                <a href="<%= edit_tower_path(tower.id) %>" >
                    <button type="button" class="btn btn-info" aria-label="Left Align">
                        edit
                    </button>
                </a>
                <%= link_to raw('<button type="button" class="btn btn-danger" aria-label="Left Align">delete</button>'), tower, method: :delete, data: { confirm: "You sure?" } %>
            </td>

        </tr>
        <% end %>
    </tbody>
   
</table>

<a href="<%= new_tower_path %>" >
    <button type = "button" class = "btn btn-info">Add Tower</button>
</a>
