<% title "Zone" %>
<h1 class="text-center">Edit Zone</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for @zone do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control'%>
            <br />
            <%= f.label :difficulty %>
            <%= f.number_field :difficulty, class: 'form-control'%>
            <br />
            <%= f.label :topic %>
            <br />
            <%= f.collection_select(:topics_id, Topic.all, :id, :name) %>
            <br />
            <br />
            <%= f.hidden_field :topics_id, :value => @topic.id %>
            <%= f.submit "Edit", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>