<% title "Questions" %>

<ol class="breadcrumb">
  <li><a href="<%= towers_path %>"><%= @tower.name.upcase %></a></li>
  <li><a href="<%= topic_path(@topic.id) %>"><%= @topic.name.capitalize %></a></li>
  <li class="active"><%= @zone.name %></li>
</ol>

<div class="row">
<div class="col-md-2">
<h1>Questions</h1>
</div>
<div class="col-md-3">
<a href="<%= questions_new_path(:zone_id => @zone.id) %>" >
    <h1 type="button" class="btn btn-info" aria-label="Left Align">add</h1>
</a>
</div>
</div>

<% @questions.each do |question| %>
<div class = "panel panel-default">
    <div data-toggle="collapse" href="#collapse_<%= question.id %>" class = "panel-heading">    
        <%= @count %>: <%= question.question %>
    </div>

    <div id="collapse_<%= question.id %>" class = "panel-collapse collapse">
        <div class="panel-body">
            <ol type="a">
                <li><%= question.choice_A %></li>
                <li><%= question.choice_B %></li>
                <li><%= question.choice_C %></li>
                <li><%= question.choice_D %></li>
            </ol>
            Ans: <%= question.answer %>
            <a class="pull-right" href="<%= edit_question_path(question.id) %>" >
                <button type="button" class="btn btn-info" aria-label="Left Align">
                    edit
                </button>
            </a>
        </div>

        
    </div>
</div>
<% @count += 1 %>
<% end %>

