<% title "Questions" %>

<caption><%= @tower.name.upcase %> / <%= @topic.name.capitalize %> / <%= @zone.name %></caption>
<h1>Questions</h1>

<% @questions.each do |question| %>
<div class = "panel panel-default">
    <div data-toggle="collapse" href="#collapse_<%= question.id %>" class = "panel-heading">    
        <%= @count %>: <%= question.question %>
    </div>

    <div id="collapse_<%= question.id %>" class = "panel-collapse collapse">
        <div class="panel-body">
            <ol type="a">
                <li><%= question.choice_A %></li>
                <li><%= question.choice_B %></li>
                <li><%= question.choice_C %></li>
                <li><%= question.choice_D %></li>
            </ol>
            Ans: <%= question.answer %>
        </div>
    </div>
</div>
<% @count += 1 %>
<% end %>

